{{template "base" .}}
{{define "title"}}Domains{{end}}
{{define "domains-link"}}{{end}}

{{define "main"}}
    <div class="container-lg">
        <h1 class="mt-5 mb-3">Domains</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last check</th>
                    <th>Status Code</th>
                </tr>
                {{$checks := .checks}}
                {{range .domains}}

                    <tr>
                        <td>{{ .Id }}</td>
                        <td>
                            <a href="/domains/{{.Id}}/">{{ .Name }}</a>
                        </td>
                        {{$check := index $checks .Id }}
                        {{with $check }}
                            <td>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</td>
                            <td>{{ .StatusCode }}</td>
                        {{end}}
                    </tr>
                {{end}}
            </table>
        </div>
    </div>
{{end}}