{{template "base" .}}

{{define "title"}}Home{{end}}
{{define "domains-link"}}active{{end}}

{{define "main"}}
    <div class="jumbotron jumbotron-fluid bg-dark text-white">
        <div class="container-xl">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 mx-auto">
                    <h1 class="display-3">Page Analyzer</h1>
                    <p class="lead">Check web pages for free</p>
                    <form method="POST" action="/domains" class="d-flex justify-content-center">
                        <input type="text" name="name" value=""
                               class="form-control form-control-lg"
                               placeholder="https://www.example.com">
                        <input type="submit" class="btn btn-lg btn-primary ml-3 px-5 text-uppercase" value="Check">
                    </form>
                </div>
            </div>
        </div>
    </div>
{{end}}